{% extends 'layout.html' %}

{% block content %}
<h1>Play Sudoku - {{ difficulty|capitalize }}</h1>
<p>This is where the Sudoku game will be played.</p>

<div class="game-container">
    <div id="grid-container">
        {% for i in range(9) %}
            {% for j in range(9) %}
                {% set index = i*9 + j %}
                {% set value = sudoku[index] %}
                {% if value == '.' %}
                    <div class="grid-item">
                        <input id="{{ index }}" name="{{ index }}" type="text" maxlength="1" inputmode="numeric" pattern="[1-9]" class="txt-input" autocomplete="off">
                    </div>
                {% else %}
                    <div class="grid-item">
                        <input id="{{ index }}" name="{{ index }}" type="text" maxlength="1" pattern="[1-9]" class="txt-input" value="{{ value }}" readonly>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div id="keypad" class="keypad">
    {% for num in range(1, 10) %}
        <button class="keypad-key" data-value="{{ num }}">{{ num }}</button>
    {% endfor %}
    <button class="keypad-key clear">Clear</button>
</div>

{% endblock %}
